* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

// Body reset
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  height: 100%;
  width: 100%;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
  margin: 0;
}

[role="button"] {
  user-select: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ul,
li {
    list-style: none;
}

input, button {
  outline: none;
}

p {
  line-height: 1;
}

input::-ms-clear, input::-ms-reveal{display: none;}


